@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p>This line is new!</p>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me to increment counter</button>

@code {
    private int currentCount;
    private string unused;

    private void IncrementCount()
    {
        currentCount++;
    }
}

// Do edits in your branch
// Switch to main, pull from online
// Change back to your branch
// Merge from main to your branch
// Resolve conflicts (if any)
// Change to main, merge from your branch
// Add, commit, push local main to online
